.top-bar-component.navbar-brand {
    font-size: 1.4em !important;
    font-weight: 700;
}

.top-bar-component.navbar-brand:hover {
    color: #0275d8 !important;
}

.top-bar-component.nav > li > a.active,
.top-bar-component.nav > li > a:hover,
.top-bar-component.nav > li > a:focus {
    background-color: #1D628B;
}

.top-bar-component.nav-scrolled {
    background-color: transparent !important;
}

.top-bar-componentnav a {
    color: #FFFFF7 !important;
}

.user {
    color: #FFFFF7;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-45deg);
    /* Firefox */
    -moz-transform: rotate(-45deg);
    /* IE */
    -ms-transform: rotate(-45deg);
    /* Opera */
    -o-transform: rotate(-45deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.btn {
    cursor: pointer;
}

.navbar-toggler-right {
    padding-top: 0;
    padding-bottom: 0;
}

#menu {
    background-color: #34495E;
}

.logout {
    background-color: transparent;
    border: none;
    /*border-bottom: 4px solid red;*/
    border-radius: 0;
    color: rgba(255, 0, 0, 0.8);
    padding: 0;
    margin: 5px;
    margin-right: 0;
}

.logout:hover {
    background-color: transparent;
    color: red;
    transition: ease color 200ms;
}

.signin {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: rgba(46, 204, 113, 0.7);
    padding: 0;
    /*margin: 10px;*/
    margin-right: 0;
}

.signin:hover {
    background-color: transparent;
    color: rgb(0, 177, 106);
    transition: ease color 200ms;
}

/*
.beta{
    position: absolute;
    left: -19px;
    top: 10px;
    width: 72px;
    opacity: 0.9;
    border-radius: 0!important;
    font-size: 0.9em!important;
    font-variant-caps: all-small-caps;
}
*/
