<nav class="navbar navbar-expand-md navbar-light bg-faded" id="landing-nav">
    <!--<span class="badge badge-danger beta rotate">BETA</span>-->
    <a class="navbar-brand" href="#welcome">Snippet.(mate);</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">

                <button type="button" class=" user" placement="bottom"
                        [ngbPopover]="userMenu" popoverTitle="{{userProfile.name}}">
                    <span *ngIf="userProfile?.picture==null" class="fa fa-user-circle-o fa-2x user round-user"></span>
                    <img *ngIf="userProfile?.picture!=null" class="user round-user" src="{{userProfile.picture}}"/>
                </button>
            </li>
            <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button style="cursor: pointer;" class="btn btn-primary navbar-right logout" (click)="logout()" title="Log out"
                    *ngIf="auth.authenticated()">
                <i class="fa fa-power-off fa-2x"></i>
            </button>
            <button style="cursor: pointer;" class="btn btn-success navbar-right signin" (click)="auth.login()" title="Sign in"
                    *ngIf="!auth.authenticated()">Log In
            </button>
        </form>
    </div>
</nav>
<ng-template #userMenu><user-menu></user-menu></ng-template>
