<top-bar-view></top-bar-view>
<div class="row">
  <div class="col-4">
    <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">
        Hi there!
      </div>
      <div class="card-body">
        <h4 class="card-title">I'm <a href="https://nifragos.github.io/">Nick</a> and i am a code excavator!</h4>
        <p class="card-text">I search through lines of code across
          many technologies while trying to manage my frustration. This is a blog to remind people who write code
          that our job is not all about fixing bugs and getting stressed out for deadlines.
        </p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">
        Let's start excavating!
      </div>
      <div class="card-body">
        <h4 class="card-title">Topics</h4>
        <p class="card-text">
          <button type="button" class="btn btn-outline-primary" (click)="showCategory(1)" style="margin: 1px">C#</button>
          <button type="button" class="btn btn-outline-danger" (click)="showCategory(2)" style="margin: 1px">Angular</button>
        </p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">
        Subscribe!
      </div>
      <div class="card-body" style="padding: 2px;">
        <p class="card-text">
        <div id="signup">
          <div class="ce-field-group">
            <form method="post" >
              <div >
                <label for="email">Email Address </label>
                <input type="email" value="" name="EMAIL" class="required email" id="email">
              </div>
              <div class="">
                <label for="fname">First Name </label>
                <input type="text" value="" name="FNAME" class="" id="fname">
              </div>
              <div class="">
                <label for="lname">Last Name </label>
                <input type="text" value="" name="LNAME" class="" id="lname">
              </div>
              <div id="ce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="ce-embedded-subscribe" class="button">
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<footer-view></footer-view>
