<top-bar-view></top-bar-view>
<a routerLink="/home">Return</a>

<h1 >{{category.title}}</h1>
  <div  class="row">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let post of posts; let i = index;">
       {{i + 1}}.
        <a [routerLink]="['/post-view/',category.id,post.id]" routerLinkActive="active">
          {{post.title}}
        </a>
        <span [innerHTML] = "post.postBody[0].postText">
        </span>
        <a class="pull-right" [routerLink]="['/post-view/',category.id,post.id]" routerLinkActive="active">
          Read more...
        </a>
      </li>
    </ul>
  </div>
<footer-view></footer-view>
