<br/>
<footer id="footer">
  <div class="row">
    <div class="col-12">
      <ul class="list-inline">
        <li class="twitter list-inline-item"><a target="_blank" href="https://twitter.com/nifragos"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li class="facebook list-inline-item"><a target="_blank" href="https://www.facebook.com/nifragos"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li class="gplus list-inline-item"><a target="_blank" href="https://plus.google.com/u/0/+NikolaosFragos"><i class="fa fa-google-plus"></i> Google+</a></li>
        <li class="instagram list-inline-item"><a target="_blank" href="https://www.instagram.com/nikolaosfragos/"><i class="fa fa-instagram"></i> Instagram</a></li>
        <li class="linkedin list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/nikolaos-fragos"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
      </ul>
      <p>Made by <a href="https://nifragos.github.io/">Nikolaos Fragos</a>.</p>
      <p>Code released under the <a href="https://github.com/CodeExcavator/blog/blob/master/LICENSE">Apache 2.0 License</a>.</p>
    </div>
  </div>
</footer>

