<footer id="footer">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li class="float-lg-right"><a href="#top">Back to top</a></li>
        <li class="twitter"><a target="_blank" href="https://twitter.com/nifragos"><i class="fab fa-twitter"></i> Twitter</a></li>
        <li class="facebook"><a target="_blank" href="https://www.facebook.com/nifragos"><i class="fab fa-facebook"></i> Facebook</a></li>
        <li class="gplus"><a target="_blank" href="https://plus.google.com/u/0/+NikolaosFragos"><i class="fab fa-google-plus"></i> Google+</a></li>
        <li class="instagram"><a target="_blank" href="https://www.instagram.com/nikolaosfragos/"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/nikolaos-fragos" class="fab fa-linkedin"></a> LinkedIn</li>
      </ul>
      <p>Made by <a href="https://nifragos.github.io/">Nikolaos Fragos</a>.</p>
      <p>Code released under the <a href="https://github.com/CodeExcavator/blog/blob/master/LICENSE">Apache 2.0 License</a>.</p>
    </div>
  </div>

</footer>

<ul class="social-link list-inline">


</ul>
